<section class="colophon">

</section>

<section class="bottom">

  <section class="attribution" style="text-align:center">

          <section class="copyright" style="text-transform:uppercase">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>.</section>
          <section class="poweredby" style="text-transform:uppercase">Published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
          	
  </section>


  </section>

