<section class="colophon">

</section>

<section class="bottom">

  <section class="attribution">
    <table width="100%" border="0">
      <tbody>
        <tr>
        
          <td>
          <section class="copyright" style="text-transform:uppercase">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>.</section>
          <section class="copyright" style="text-transform:uppercase">粤ICP备16004237</section>
          </td>
          <td>
          	<section class="attribution" style="text-transform:uppercase;text-align:right">
       		 <a href="http://github.com/Reedyn/Saga" >Proudly use Saga as theme</a>.
          	<section class="poweredby" style="text-transform:uppercase;text-align:right">Published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
          	
    </section>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
